# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Custom
application-test.yml

target/classes/application-test.yml

# 忽略本地环境配置
src/main/resources/application-test.yml